<ion-view>
      <!--Log In-->
      <ion-content  class="has-header" scroll="false" id="log-in-content">
          <div class="list list-inset" style="background: transparent;">
              <label class="item item-input">
                <i class="icon ion-person placeholder-icon"></i>
                <input type="text" placeholder="Username" keyboard-attach>
              </label>

              <label class="item item-input">
                <i class="icon ion-locked placeholder-icon"></i>
                <input type="password" placeholder="Password">
              </label>

              <button class="button button-block button-dark icon-center ion-log-in"> LOG IN</button>
              <button class="button button-block button-assertive icon-center ion-compose"> SIGN UP</button>
          </div>
      </ion-content>
</ion-view>
