#menu-header {
    font-size: 31.2px;
    font-weight: bold;
    color: white;
}

#side-header-image {
    width: 200px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#side-header-image-item {
    background-image: url('../img/side-menu-header-item-bg.png');
    border: transparent !important;
}

#side-menu-text {
    font-size: 2px;
}

#preference-item {
    border: transparent !important;
    background-color: #444;
    padding-top: 6px;
    padding-bottom: 6px;
}

#side-menu-item {
    border: 0px;
}

#side-menu-item-title {
    margin-top: 5px;
}

#side-menu-text-date {
    font-size: 3px;
    float: right;
    position: absolute;
    margin-left: 180px;
    bottom: 30px;
}

#preferences {
    font-size: 16px !important;
    position: absolute;
    margin-top: 1.6%;
    margin-left: 6px;
}

#reload {
    margin-top: 2.5px;
    position: absolute;
    margin-left: 215px;
    font-size: 25px;
}

#toggle-ads {
    box-shadow: 1px 1px 1px 1px #e5e5e5;
    margin-bottom: 3.4px;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.ads-Image {
    height: 100%;
    width: 100%;
}
