#menu-header {
    font-size: 27px;
    font-weight: bold;
    color: white;
}

#side-header-image {
    width: 200px;
}

#side-menu-text {
    font-size: 2px;
}

#preference-item {
    background-color: #444;
}

#side-menu-item {
    border: 0px;
}

#side-menu-item-title {
    margin-top: 5px;
}

#side-menu-text-date {
    font-size: 3px;
    float: right;
    position: absolute;
    margin-left: 180px;
    bottom: 30px;
}

#preferences {
    font-size: 16px !important;
    position: absolute;
    margin-top: 0.5%;
    margin-left: 5px;
}

#delete {
    position: absolute;
    margin-left: 220px;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.ads-Image {
    height: 100%;
    width: 100%;
}
